<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project 2: Stock Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>stuff</h1>
    </div>
    <div class = "row">
      <div class = "col-md-8">
        <!--Div container for the dynamically generated stock table -->
        <div id = "table"></div>
      </div>
      <div class = "col-md-4"></div>
        <!--Div container for the selector tool-->
        <div id = "selector"></div>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-8">
        <!--Div container for the line-bar chart-->
        <label for="stockChoice"><b>Stock:</b></label>
        <select id="stockChoice">
          <option value="AAPL">AAPL</option>
          <option value="AMZN">AMZN</option>
          <option value="FB">FB</option>
          <option value="GOOG">GOOG</option>
          <option value="NFLX">NFLX</option>
        </select>
        <div id = "line-bar"></div>
      </div>
      <div class = "col-md-4">
        <!--Div container for the bar chart-->
        <div id = "bar"></div>
      </div>
    </div>
  </div>
  <h3>{{ api_data['AAPL'][0]['Date'] }}</h3>
<div class="chart"></div>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script src="{{url_for('static', filename='app.js')}}"></script>
  <script src="line-bar.js"></script>
</body>

</html>

